# 4.8 Grouping Data & Aggregating Variables
## This script contains the following points:
1. Import Data into Jupyter
2. Calculate Mean of Order Number
3. Create Loyalty Flag for Exisiting Customers
4. Task procedures
5. Export data

# 1. Importing Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Telling Python to remember a main folder path
path=r'/Users/dariaperestiuk/Documents/02_02_24 Instacart Basket Analysis'

In [3]:
# Import data set
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

In [4]:
# Create a subset of first million rows
df = ords_prods_merge[:1000000]

In [5]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Most orders

In [6]:
df.shape

(1000000, 19)

# 2. Calculate Mean of Order Number

In [9]:
# Use groupby and agg functions to calculate mean of user_order_number
df.groupby('department_id')['order_number'].mean()

department_id
1     15.562844
2     17.518895
3     16.907152
4     17.537934
5     14.894521
6     16.658449
7     17.072954
8     14.942021
9     15.447580
10    18.681852
11    15.352278
12    14.327957
13    16.578690
14    16.666369
15    16.153766
16    17.768070
17    15.602964
18    19.674252
19    16.924344
20    16.292631
21    25.535596
Name: order_number, dtype: float64

# 3. Create Loyalty Flag for Exisiting Customers

In [11]:
# Use groupby and transform() functions with np.max argument to determine maximum order number for each user
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [17]:
# View updated data frame
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Most orders,3,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,...,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,...,30.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,...,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,...,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,...,NaN,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10,New customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,...,7.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43,Loyal customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,...,7.0,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,43,Loyal customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,...,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,43,Loyal customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,...,2.0,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13,Regular customer

In [13]:
# Use loc function to make loyalty flag column with given criteria
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [15]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# Check frequency of values in new loyalty flag column
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

# 4. Task procedures

#### Question 5
The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [18]:
# Use groupby and agg() to determine basic statisitcs of spending habits by loyalty group
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

The prices of products purchased by loyal customers are the lowest compare to regular and new customers

#### Question 6
The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria: If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [19]:
# Use transform() to determine the mean price of products purchased by each user
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
# View Output
ords_prods_merge[['user_id', 'mean_product_price']].head()

   user_id  mean_product_price
0      138            6.935811
1      138            6.935811
2      709            7.930208
3      764            4.972414
4      764            4.972414

In [22]:
# Create spending_flag column with given criteria using loc() function
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [23]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [24]:
#Check frequency of new spending_flag column
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31798751
High spender      635461
Name: spending_flag, dtype: int64

In [28]:
# View Output
ords_prods_merge[['user_id', 'mean_product_price', 'spending_flag']].head()

   user_id  mean_product_price spending_flag
0      138            6.935811   Low spender
1      138            6.935811   Low spender
2      709            7.930208   Low spender
3      764            4.972414   Low spender
4      764            4.972414   Low spender

#### Question 7
In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows: If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.” If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.” If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [29]:
# Use groupby and transform to determine median number of days between orders for each user
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [30]:
# View Output
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head()

   user_id  days_since_prior_order  median_days_between_orders
0      138                     3.0                         8.0
1      138                    20.0                         8.0
2      709                     6.0                         8.0
3      764                     NaN                         9.0
4      764                     9.0                         9.0

In [31]:
# Create order frequency flag based on given criteria using loc function
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [32]:
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'

In [33]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

In [34]:
# Check value counts of new order_frequency column
ords_prods_merge['order_frequency'].value_counts(dropna = False)

Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: order_frequency, dtype: int64

In [36]:
# View relevant columns of updated data frame
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency']].head()

,user_id,days_since_prior_order,median_days_between_orders,order_frequency
0,138,3.0,8.0,Frequent customer
1,138,20.0,8.0,Frequent customer
2,709,6.0,8.0,Frequent customer
3,764,NaN,9.0,Frequent customer
4,764,9.0,9.0,Frequent customer

# 5. Export data

In [37]:
# Export as pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))